org.openbel.framework.ws/src/main/webapp/WEB-INF/xsd/belframework-web-api.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bfapi="http://belframework.org/ws/schemas" targetNamespace="http://belframework.org/ws/schemas" elementFormDefault="qualified">

    <xs:annotation>
        <xs:documentation>
            Schema that defines the request and response payloads for each BELFramework Web API operation.
        </xs:documentation>
    </xs:annotation>

    <xs:include schemaLocation="belframework-web-api-entities.xsd">
        <xs:annotation>
            <xs:documentation>
                Include the entities contained with the request and response payloads for BELFramework Web API operations.
            </xs:documentation>
        </xs:annotation>
    </xs:include>

    <xs:element name="LoadKamRequest">
        <xs:annotation>
            <xs:documentation>
                Request a KAM be loaded, making its handle available for use
                in other requests.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kam" type="bfapi:Kam">
                    <xs:annotation>
                        <xs:documentation>
                            Indicates the KAM to load. Only the name of the
                            element is necessary here.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="filter" type="bfapi:KamFilter"
                    nillable="true">
                    <xs:annotation>
                        <xs:documentation>
                            This element is currently ignored.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="LoadKamResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            The KAM's handle, available when the load status is
                            LOADED.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="loadStatus" type="bfapi:KAMLoadStatus">
                    <xs:annotation>
                        <xs:documentation>
                            The status of the load request. A status of IN_PROCESS
                            allows successive requests to poll until the status
                            changes to LOADED.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="message" type="xs:string"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            When the status of the load request is FAILED, this
                            indicates the cause of the failure.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetBELFrameworkVersionRequest">
        <xs:annotation>
            <xs:documentation>
                Requests the version of the BEL framework.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType />
    </xs:element>

    <xs:element name="GetBELFrameworkVersionResponse">
        <xs:annotation>
            <xs:documentation>
                The version of the BEL framework.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="version" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetKamRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetKamResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kam" type="bfapi:Kam" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetBelDocumentsRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetBelDocumentsResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="documents" type="bfapi:BelDocument" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAnnotationTypesRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAnnotationTypesResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="annotationTypes" type="bfapi:AnnotationType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetNamespacesRequest">
        <xs:annotation>
            <xs:documentation>
                Retrieves the namespaces available in a specific KAM. The prefix specified for
                each namespace will be the prefix used in the BEL/XBEL documents the KAM was
                compiled from.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetNamespacesResponse">
        <xs:annotation>
            <xs:documentation>
                Contains namespaces within the queried KAM.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="namespaces" type="bfapi:Namespace" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllNamespacesRequest">
        <xs:annotation>
            <xs:documentation>
                Retrieves all namespaces defined in the resource index of the BELFramework system
                configuration
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllNamespacesResponse">
        <xs:annotation>
            <xs:documentation>
                Contains all namespaces defined in the resource index of the BELFramework system
                configuration. The prefix specified for each namespace is not necessarily the
                prefix used for the namespace in any given KAM; it is the suggested prefix
                defined by the 'Keyword' field of the namespace file.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="namespaceDescriptors" type="bfapi:NamespaceDescriptor" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetCitationsRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
                <xs:element name="citationType" type="bfapi:CitationType" />
                <xs:element name="referenceIds" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="document" type="bfapi:BelDocument" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetCitationsResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="citations" type="bfapi:Citation" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetCatalogRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetCatalogResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kams" type="bfapi:Kam" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetSupportingEvidenceRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kamEdge" type="bfapi:KamEdge" />
                <xs:element name="filter" type="bfapi:KamFilter" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetSupportingEvidenceResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="statements" type="bfapi:BelStatement" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetSupportingEvidenceMultipleRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kamEdges" type="bfapi:KamEdge" maxOccurs="unbounded"/>
                <xs:element name="filter" type="bfapi:KamFilter" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetSupportingEvidenceMultipleResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="edgeStatements" type="bfapi:EdgeStatement" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetSupportingTermsRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kamNode" type="bfapi:KamNode" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetSupportingTermsResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="terms" type="bfapi:BelTerm" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindKamNodesByIdsRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
                <xs:element name="ids" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
                <xs:element name="filter" type="bfapi:NodeFilter" minOccurs="0" />
                <xs:element name="dialect" type="bfapi:DialectHandle" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindKamNodesByIdsResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kamNodes" type="bfapi:KamNode" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindKamNodesByLabelsRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
                <xs:element name="labels" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
                <xs:element name="filter" type="bfapi:NodeFilter" minOccurs="0" />
                <xs:element name="dialect" type="bfapi:DialectHandle" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindKamNodesByLabelsResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kamNodes" type="bfapi:KamNode" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindKamNodesByPatternsRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
                <xs:element name="patterns" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
                <xs:element name="filter" type="bfapi:NodeFilter" minOccurs="0" />
                <xs:element name="dialect" type="bfapi:DialectHandle" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindKamNodesByPatternsResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kamNodes" type="bfapi:KamNode" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindKamNodesByNamespaceValuesRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
                <xs:element name="namespaceValues" type="bfapi:NamespaceValue" minOccurs="1" maxOccurs="unbounded" />
                <xs:element name="filter" type="bfapi:NodeFilter" minOccurs="0" />
                <xs:element name="dialect" type="bfapi:DialectHandle" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindKamNodesByNamespaceValuesResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kamNodes" type="bfapi:KamNode" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindKamEdgesRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
                <xs:element name="filter" type="bfapi:EdgeFilter" />
                <xs:element name="dialect" type="bfapi:DialectHandle" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindKamEdgesResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kamEdges" type="bfapi:KamEdge" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAdjacentKamNodesRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kamNode" type="bfapi:KamNode" minOccurs="1" />
                <xs:element name="direction" type="bfapi:EdgeDirectionType" minOccurs="0" />
                <xs:element name="edgeFilter" type="bfapi:EdgeFilter" minOccurs="0" />
                <xs:element name="nodeFilter" type="bfapi:NodeFilter" minOccurs="0" />
                <xs:element name="dialect" type="bfapi:DialectHandle" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAdjacentKamNodesResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kamNodes" type="bfapi:KamNode" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAdjacentKamEdgesRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kamNode" type="bfapi:KamNode" minOccurs="1" />
                <xs:element name="direction" type="bfapi:EdgeDirectionType" minOccurs="0" />
                <xs:element name="filter" type="bfapi:EdgeFilter" minOccurs="0" />
                <xs:element name="dialect" type="bfapi:DialectHandle" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAdjacentKamEdgesResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kamEdges" type="bfapi:KamEdge" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetNewInstanceRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" minOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetNewInstanceResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="MapDataRequest">
        <xs:annotation>
            <xs:documentation>
                Deprecated. Use FindKamNodesByNamespaceRequest.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
                <xs:element name="namespace" type="bfapi:Namespace" />
                <xs:element name="values" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
                <xs:element name="nodeFilter" type="bfapi:NodeFilter" minOccurs="0" />
                <xs:element name="dialect" type="bfapi:DialectHandle" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="MapDataResponse">
        <xs:annotation>
            <xs:documentation>
                Deprecated. Use FindKamNodesByNamespaceResponse.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kamNodes" type="bfapi:KamNode" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UnionKamsRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kam1" type="bfapi:KamHandle" />
                <xs:element name="kam2" type="bfapi:KamHandle" minOccurs="0" />
                <xs:element name="kamEdges" type="bfapi:KamEdge" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UnionKamsResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="IntersectKamsRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kam1" type="bfapi:KamHandle" />
                <xs:element name="kam2" type="bfapi:KamHandle" minOccurs="0" />
                <xs:element name="kamEdges" type="bfapi:KamEdge" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="IntersectKamsResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DifferenceKamsRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kam1" type="bfapi:KamHandle" />
                <xs:element name="kam2" type="bfapi:KamHandle" minOccurs="0" />
                <xs:element name="kamEdges" type="bfapi:KamEdge" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DifferenceKamsResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ResolveNodesRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="bfapi:KamHandle" />
                <xs:element name="nodes" type="bfapi:Node" maxOccurs="unbounded" />
                <xs:element name="dialect" type="bfapi:DialectHandle" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ResolveNodesResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kamNodes" type="bfapi:KamNode" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ResolveEdgesRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="handle" type="bfapi:KamHandle" />
                <xs:element name="edges" type="bfapi:Edge" maxOccurs="unbounded" />
                <xs:element name="dialect" type="bfapi:DialectHandle" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ResolveEdgesResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kamEdges" type="bfapi:KamEdge" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindNamespaceEquivalenceRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="namespaceValue" type="bfapi:NamespaceValue" />
                <xs:element name="targetNamespace" type="bfapi:Namespace" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindNamespaceEquivalenceResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="namespaceValue" type="bfapi:NamespaceValue" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindEquivalencesRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="namespaceValue" type="bfapi:NamespaceValue" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindEquivalencesResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="namespaceValues" type="bfapi:NamespaceValue" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindNamespaceValuesRequest">
        <xs:annotation>
            <xs:documentation>
                Find all NamespaceValues that for a set of patterns within a set of namespaces.
                This is not KAM-specific - any namespace valid for the BELFramework instance
                can be searched and returned.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="namespaces" type="bfapi:Namespace" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies the namespaces to be searched for the given patterns. If not
                            provided, all namespaces configured for the BELFramework instance will
                            be searched.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="patterns" type="xs:string" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Regular expression patterns to find values. Must be in valid Java Pattern
                            syntax: http://docs.oracle.com/javase/6/docs/api/java/util/regex/Pattern.html
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindNamespaceValuesResponse">
        <xs:annotation>
            <xs:documentation>
                Returns all NamespaceValues that matched the given patterns in the given namespaces.
                NamespaceValues will have EquivalenceId populated if equivalences exist. A null
                EquivalenceId indicates the NamespaceValue has no equivalences.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="namespaceValues" type="bfapi:NamespaceValue" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FindPathsRequest">
        <xs:annotation>
            <xs:documentation>
                Requests paths for the provided species. The type of the path
                find selects the algorithm to be used; the parameters control
                its behavior. An optional list of target nodes can be specified
                to support path finding between nodes.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sources" type="bfapi:KamNode" minOccurs="1" maxOccurs="unbounded" />
                <xs:element name="targets" type="bfapi:KamNode" minOccurs="1" maxOccurs="unbounded" />
                <xs:element name="dialect" type="bfapi:DialectHandle" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="maxDepth" type="xs:int" use="optional" default="4" />
        </xs:complexType>
    </xs:element>

    <xs:element name="FindPathsResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paths" type="bfapi:SimplePath" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ScanRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sources" type="bfapi:KamNode" minOccurs="1" maxOccurs="unbounded" />
                <xs:element name="dialect" type="bfapi:DialectHandle" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="maxDepth" type="xs:int" use="optional" default="4" />
        </xs:complexType>
    </xs:element>

    <xs:element name="ScanResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paths" type="bfapi:SimplePath" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="InterconnectRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sources" type="bfapi:KamNode" minOccurs="2" maxOccurs="unbounded" />
                <xs:element name="dialect" type="bfapi:DialectHandle" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="maxDepth" type="xs:int" use="optional" default="4" />
        </xs:complexType>
    </xs:element>

    <xs:element name="InterconnectResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paths" type="bfapi:SimplePath" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ReleaseKamRequest">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kam" type="bfapi:KamHandle" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ReleaseKamResponse">
        <xs:annotation>
            <xs:documentation>TODO - Document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetDefaultDialectRequest">
        <xs:annotation>
            <xs:documentation>Obtain a handle for a default Dialect. This dialect will label
            KamNodes with the BEL short form of the first supporting term.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kam" type="bfapi:KamHandle" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetDefaultDialectResponse">
        <xs:annotation>
            <xs:documentation>Contains a handle used to uniquely identify the default Dialect.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dialect" type="bfapi:DialectHandle" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetCustomDialectRequest">
        <xs:annotation>
            <xs:documentation>Obtain a handle for a default Dialect. This dialect will label
            KamNodes with the BEL short form of the first supporting term.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kam" type="bfapi:KamHandle">
                    <xs:annotation>
                        <xs:documentation>
                            The KamHandle for the KAM to obtain the dialect for
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="geneNamespaces" type="bfapi:Namespace" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Namespaces, ordered from highest priority to lowest priority, to display gene and
                            gene product values. If no namespaces in this list can be used to display a given value,
                            the value the node was compiled with will be used.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="bpNamespaces" type="bfapi:Namespace" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Namespaces, ordered from highest priority to lowest priority, to display biological
                            process values. If no namespaces in this list can be used to display a given value,
                            the value the node was compiled with will be used.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="chemNamespaces" type="bfapi:Namespace" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Namespaces, ordered from highest priority to lowest priority, to display chemical
                            values. If no namespaces in this list can be used to display a given value, the
                            value the node was compiled with will be used.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="syntax" type="bfapi:BelSyntax" minOccurs="1" maxOccurs="1" default="SHORT_FORM">
                    <xs:annotation>
                        <xs:documentation>
                            BELSyntax to display labels.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="hideNamespacePrefixes" type="xs:boolean" minOccurs="1" maxOccurs="1" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            If true, namespace prefixes will be removed from labels. E.g., p(HGNC:AKT1) will
                            be displayed as p(AKT1). If none of the user-defined namespaces can be used for
                            labeling and the default label is displayed, the namespace prefix will be displayed
                            regardless of this setting.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetCustomDialectResponse">
        <xs:annotation>
            <xs:documentation>Contains a handle used to uniquely identify the custom Dialect.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dialect" type="bfapi:DialectHandle" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ReleaseDialectRequest">
        <xs:annotation>
            <xs:documentation>Releases a Dialect and allows system resources that the Dialect
            may be using to be freed</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dialect" type="bfapi:DialectHandle" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ReleaseDialectResponse">
        <xs:annotation>
            <xs:documentation>Response for releasing a Dialect.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
        </xs:complexType>
    </xs:element>
</xs:schema>
